@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    display: none !important;
}

body {
    background-color: rgb(228, 215, 215);
}

#intro {
    width: 100%;
    height: 80vh;
    text-align: center;
}

#intro h1 {
    margin: 1rem;
    margin-top: 20rem;
    font-size: 4rem;
    color: rgb(31, 31, 31);
    animation-duration: 3s;
    animation-name: mainTextIn;
}

#intro h2 {
    font-weight: 400;
    margin: 1rem;
    color: rgb(53, 53, 53);
    animation-duration: 2s;
    animation-name: bottomTextIn;
}

#intro h3 {
    font-weight: 300;
    animation-duration: 3s;
    animation-name: bottomTextIn;
}

#intro hr {
    width: 30%;
    margin: auto;
    border: none;
    height: 1px;
    background-color: rgb(97, 97, 97);
    animation-duration: 1.5s;
    animation-name: lineBigger;
}

#sandra {
    color: rgb(245, 52, 52);
    font-family: 'Dancing Script', cursive;
}

.button {
    display: inline-block;
    padding: 1rem;
    background-color: #2b2b2b49;
    border: solid 1px rgba(255, 255, 255, 0);
    border-radius: 0.5rem;
    margin: 1rem;
    transition: 1s;
    animation-name: buttonsIn;
    animation-duration: 1.7s;
}

.button:hover {
    background-color: #1d1d1d60;
    border: solid 1px rgb(255, 255, 255)
}

.button p {
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgb(180, 180, 180) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: whitesmoke;
    transition: 0.3s;
    font-weight: 300;
    font-size: 1.5rem;
}

.button p:hover {
    color: rgba(255, 255, 255, 0.2);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 7rem;
    overflow: hidden;
}

/* animations */

@keyframes lineBigger {
    from {
        width: 0%;
        border: rgba(97, 97, 97, 0);
    }
    to {
        width: 30%;
        border: rgb(97, 97, 97);
    }
}

@keyframes mainTextIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes bottomTextIn {
    0% {
        opacity: 0%;
        margin-top: -1rem;
    }
    20% {
        opacity: 0%;
    }
    60% {
        margin-top: 1rem;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes buttonsIn {
    0% {
        margin-top: 10rem;
    }
    50% {
        margin-top: 10rem;
    }
    100% {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 375px) and (orientation: portrait) {

    .button {
        margin: 0.5rem;
    }

    .button p {
        font-size: 1rem;
    }

    #intro hr {
        width: 50%;
    }

    @keyframes lineBigger {
        from {
            width: 0%;
            border: rgba(97, 97, 97, 0);
        }
        to {
            width: 50%;
            border: rgb(97, 97, 97);
        }
    }

    @keyframes buttonsIn {
        0% {
            margin-top: 10rem;
        }
        50% {
            margin-top: 10rem;
        }
        100% {
            margin-top: 0.5rem;
        }
    }

}