main {
    display: flex;
    height: 100rem;
    animation: fadeIn 2.5s;
}

body::-webkit-scrollbar {
    display: none;
  }

footer {
    position: relative;
}

#center {
    flex: 5;
    order: 2;
    display: flex;
}

#left, #right {
    padding: 2rem;
    text-align: center;
}

#left img, #right img {
    width: 100%;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    border: solid 1px rgba(255, 255, 255, 0);
    transition: 1s;
}

#left img, #right img:hover {
    border: solid 1px rgb(255, 255, 255)
}

.side {
    flex: 1;
}

.left {
    order: 1
}

.right {
    order: 3
}

@keyframes fadeIn {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@media only screen and (min-width: 375px) and (orientation: portrait) {

    .empty {
        display: none;
    }

    #left, #right {
        padding: 0.5rem;
    }

}